.shop-cart-container{
width: 35rem;
color: black;
background-color:white;
height: 100vh;
position: fixed;
top: 0;
right: 0;
z-index: 4;
display: flex;
flex-direction: column;
align-items: space-between;
justify-content: space-between;
overflow-x: hidden;
/* display: none; */
transition:  2s cubic-bezier(0.215, 0.610, 0.355, 1) 0s;
transform: translate(2000vw);
}
.hide_cart{
    transform: none;
}
.shop-cart-container h2 {
font-weight: bolder;
font-size: 2rem;
line-height: 3.6rem;
}

.shopping-cart {
margin: .2em 0;
border: 1px solid rgb(15, 7, 7);
border-radius: .3em;
display: flex;
flex-direction: column;
justify-content: flex-start;
}

.only-cart {
max-height: 80vh;
overflow-y: scroll;
padding: .3em;
}
.sc-bottom {
    margin-top: auto;
}


.sc-bottom a{
    background-color: #ffc222;
    color: #000;
    padding: 1em 2em;
    max-width: 12em;
    border: none;
    border-radius: .2em;
    font-size: medium;
    font-weight: bold;
    margin: .5em auto;
    text-decoration: none;
}