.sign-up {
margin:   auto;
margin-top: 10rem;
}
.sign-up h2{
margin: 0 auto;
color: black;
}

.sign-up form {

background-color: #f6f6f6;
display: flex;
flex-direction: column;
align-items: left;
text-align: left;
justify-content: space-between;
}
.sign-up form input {
padding: .5em;

}

.sign-up-container {
    height: 100vh;
}