.dish-name {
    margin: 5em auto;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.dish-name li {
    list-style-type: none;
    margin: 0 .5em;
    text-decoration: none;
    color: black;
    background-color: #ffc222;
    padding: 1em 2em;
    border-radius: .5em;
    cursor: pointer;
}
 

