.dish-name  {
    margin: 5em auto;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.dish-name li {
    width: 13rem;
    text-align: center;
    list-style-type: none;
    margin: 0 .5em;
    text-decoration: none;
    color: black;
    background-color: #ffc222;
    padding: 1em 2em;
    border-radius: .5em;
    cursor: pointer;
}
 
@media  screen and (max-width: 730px) {
    .dish-name {
        height: 50vh;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
}

