.breadcrumb-container {
   background-image: url("../../asstes/breadcrumb1.jpg");
   object-fit: cover;
   height: 40vh;
}

.breadcrumb-container  {
    display: flex;
    justify-content: center;
    align-items: center;
}
.breadcrumb-container h1 {
    color: black;
    font-size: 8rem;
}

.breadcrumb-img {
    height: 50vh;
}